@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-pblue200: oklch(86.33% 0.034 237.03);
  --color-pblue: oklch(68.02% 0.094 237.06);
  --color-pblue700: oklch(38.19% 0.086 238.72);
  --color-pgreen: oklch(0.7395 0.2268 142.8504);
  --color-pmint: oklch(79.55% 0.063 187.03);
  --color-ppink: oklch(76.47% 0.107 351.70);
  --color-pyellow: oklch(77.78% 0.161 81.33);
}


:root {
  --background: oklch(0.9809 0.0025 228.7836);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(76.47% 0.107 351.70);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(68.02% 0.094 237.06);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.8828 0.0285 98.1033);
  --muted-foreground: oklch(0.5382 0 0);
  --accent: oklch(0.8790 0.1534 91.6054);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8699 0 0);
  --input: oklch(0.8699 0 0);
  --ring: oklch(76.47% 0.107 351.70);
  --chart-1: oklch(76.47% 0.107 351.70);
  --chart-2: oklch(68.02% 0.094 237.06);
  --chart-3: oklch(0.9680 0.2110 109.7692);
  --chart-4: oklch(76.47% 0.107 351.70);
  --chart-5: oklch(0.7395 0.2268 142.8504);
  --sidebar: oklch(0.9809 0.0025 228.7836);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(76.47% 0.107 351.70);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.9680 0.2110 109.7692);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.8699 0 0);
  --sidebar-ring: oklch(76.47% 0.107 351.70);
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);

  --shadow-card1: 2px 2px oklch(0 0 0);
  --shadow-card: 4px 4px oklch(0 0 0);
  --shadow-hover: 10px 10px oklch(0 0 0);
  --shadow-pblue200: 7px 7px oklch(86.33% 0.034 237.03);
  --shadow-pblue: 7px 7px oklch(68.02% 0.094 237.06);
  --shadow-pblue700: 7px 7px oklch(38.19% 0.086 238.72);
  --shadow-pmint: 7px 7px oklch(79.55% 0.063 187.03);
  --shadow-pgreen: 7px 7px #ADF296;
  --shadow-ppurple: 7px 7px oklch(0.6913 0.1453 295.7208);
  --shadow-ppink: 7px 7px oklch(76.47% 0.107 351.70);
  --shadow-pblueHover: 10px 10px oklch(68.02% 0.094 237.06);
  --shadow-pgreenHover: 10px 10px #ADF296;
  --shadow-ppinkHover: 10px 10px oklch(76.47% 0.107 351.70);
  --shadow-pyellow: 7px 7px oklch(77.78% 0.161 81.33);
  --shadow-pyellowlight: 7px 7px oklch(0.9680 0.2110 109.7692);
  --shadow-pyellowHover: 10px 10px #F2CF96;
  --shadow-ppurpleHover: 10px 10px oklch(0.6913 0.1453 295.7208);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2303 0.0125 264.2926);
  --foreground: oklch(0.9219 0 0);
  --card: oklch(0.3210 0.0078 223.6661);
  --card-foreground: oklch(0.9219 0 0);
  --popover: oklch(0.3210 0.0078 223.6661);
  --popover-foreground: oklch(0.9219 0 0);
  --primary: oklch(0.8027 0.1355 349.2347);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.7395 0.2268 142.8504);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.3867 0 0);
  --muted-foreground: oklch(0.7155 0 0);
  --accent: oklch(0.8148 0.0819 225.7537);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3867 0 0);
  --input: oklch(0.3867 0 0);
  --ring: oklch(0.8027 0.1355 349.2347);
  --chart-1: oklch(0.8027 0.1355 349.2347);
  --chart-2: oklch(0.7395 0.2268 142.8504);
  --chart-3: oklch(0.8148 0.0819 225.7537);
  --chart-4: oklch(0.9680 0.2110 109.7692);
  --chart-5: oklch(0.8652 0.1768 90.3816);
  --sidebar: oklch(0.2303 0.0125 264.2926);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.8027 0.1355 349.2347);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.8148 0.0819 225.7537);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.3867 0 0);
  --sidebar-ring: oklch(0.8027 0.1355 349.2347);
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-pacifico: var(--font-pacifico);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --shadow-card: var(--shadow-card);
  --shadow-hover: var(--shadow-hover);
  --shadow-pblue: var(--shadow-pblue);
  --shadow-pblue200: var(--shadow-pblue200);
  --shadow-pblue700: var(--shadow-pblue700);
  --shadow-pred: var(--shadow-pred);
  --shadow-pmint: var(--shadow-pmint);
  --shadow-ppurple: var(--shadow-ppurple);
  --shadow-pgreen: var(--shadow-pgreen);
  --shadow-ppink: var(--shadow-ppink);
  --shadow-pyellow: var(--shadow-pyellow);
  --shadow-pblueHover: var(--shadow-pblueHover);
  --shadow-predHover: var(--shadow-predHover);
  --shadow-pyellowlight: var(--shadow-pyellowlight);
  --shadow-pgreenHover: var(--shadow-pgreenHover);
  --shadow-ppinkHover: var(--shadow-ppinkHover);
  --shadow-pyellowHover: var(--shadow-pyellowHover);
  --shadow-card1: var(--shadow-card1);
  --shadow-ppurpleHover: var(--shadow-ppurpleHover);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  .container {
    @apply px-5 w-full max-w-7xl mx-auto;
  }
  /* Text shadow light blue */
  .text-shadow {
    text-shadow: 2px 2px 4px oklch(0.8148 0.0819 225.7537);;
  }
}

/* Global scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #5CA1CB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E796BA;
}
